<!-- NOTE: @see ngClick for how to pass data selection to outside expression -->
<md-list>
  <h3 md-subheader>My Identities</h3>
  <md-list-item ng-repeat="user in $ctrl.identities">
    <md-button ng-click="$ctrl.showDetails({user:user})" ng-class="{'selected' : user === $ctrl.selected }">
      <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
      {{user.name}}
    </md-button>
  </md-list-item>
  <md-divider/>
  <h3 md-subheader>My Contacts</h3>
  <md-list-item ng-repeat="user in $ctrl.contacts">
    <md-button ng-click="$ctrl.showDetails({user:user})" ng-class="{'selected' : user === $ctrl.selected }">
      <md-icon md-svg-icon="{{user.avatar}}" class="avatar"></md-icon>
      {{user.name}}
    </md-button>
  </md-list-item>
</md-list>
